.user {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-start;
	align-items: flex-start;
}


.user__avatar {
	margin: 5px;
	display: inline-block;
}

.user__info {
	display: inline-block;
	text-align: left;
}